{{!-- eksisozluk/api ---}}

<footer>
  <span class="disclaimer">
    ekşisözlük markası ve logosu, <a href="http://eksiteknoloji.com/">ekşi teknoloji ve bilişim a.ş.</a>'ye aittir.
  <span>
</footer>
