{{!-- eksisozluk/api ---}}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>ekşi sözlük | api</title>

    {{> favicon }}

    <link rel="stylesheet" href="{{ asset '/css/style.css' }}" />
  </head>
  <body>
    {{{ body }}}
  </body>
</html>
