{{!-- eksisozluk/api ---}}

<section class="example">
  <span class="endpoint">
    <span class="method">GET</span> /api/entries/{entry_id}
  </span>
  <span class="summary">Get entry by ID</span> 
  <pre class="result">
    {
      "author": <span class="string">"ssg"</span>,
      "author_id": <span class="number">8097</span>,
      "author_url": <span class="string">"https://eksisozluk.com/biri/ssg"</span>,
      "content": <span class="string">"gitar calmak icin kullanilan minik plastik garip nesne."</span>,
      "content_encoded": <span class="string">"gitar calmak icin kullanilan minik plastik garip nesne."</span>,
      "date_created": <span class="string">"1999-02-15T00:00:00.000Z"</span>,
      "date_modified": <span class="null">null</span>,
      "eksiseyler_link": <span class="string">"https://seyler.eksisozluk.com/pena"</span>,
      "eksiseyler_slug": <span class="string">"pena"</span>,
      "entry_id": <span class="number">1</span>,
      "favorite_count": <span class="number">3599</span>,
      "permalink": <span class="string">"https://eksisozluk.com/entry/1"</span>,
      "title": <span class="string">"pena"</span>,
      "title_id": <span class="number">31782</span>,
      "title_slug": <span class="string">"pena"</span>,
      "title_url": <span class="string">"https://eksisozluk.com/pena--31782"</span>
    }
  </pre>
</section>
